.grid {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.button {
    height: 50px;
    margin: 16px;
}

.input{
    width: 100%;
}